*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    background-color: rgb(245, 245, 245);
}
.a_logo{
    text-decoration: none;
    font-size: 38px;
    color: rgb(255, 255, 255);
}
.a{
    text-decoration: none;
    font-size: 20px;
    color: grey;
    border-bottom: 1px solid rgb(71, 71, 71);
}
.nav{
    width: 100%;
    justify-content: space-between;
    display: flex;
    padding: 1% 15%;
    align-items: center;
    height: 80px;
}
.nav_links{
    text-decoration: none;
    display: flex;
    gap: 20px;
    list-style: none;
}
.nav_buttons{
    text-decoration: none;
}
.button_cislo{
    margin-top: 70px;
    border-radius: 25px;
    border: none;
    background-color: blue;
    width: 180px;
    height: 50px;
    font-size: 20px;
    color: white;
}
.image_text{
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 200px;
}
.background{
    width: 100%;
    height: 51vw;
    min-height: 650px;
    background-color: black;
    background-image: url('megazamek.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}
.p1{
    font-size: 2.5vw;
    color: rgb(168, 168, 168);
}
.p2{
    color: rgb(168, 168, 168);
    margin-top: 30px;
    font-size: 1.5vw;
}
.p3{
    color: rgb(168, 168, 168);
    margin-top: 10px;
    font-size: 1.5vw;
}
.p4{
    padding-top: 50px;
    text-align: center;
    font-size: 30px;
    color: rgb(0, 0, 0);
}
.a:hover{
    color: rgb(255, 255, 255);
    border-bottom: 5px solid rgb(0, 17, 255);
}
.a_active{
    text-decoration: none;
    font-size: 20px;
    color: rgb(255, 255, 255);
    border-bottom: 5px solid rgb(0, 17, 255);
}
.a_active:hover{
    color: rgb(255, 255, 255);
    border-bottom: 5px solid rgb(0, 17, 255);
}